.pt{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
a{
  text-decoration:none;
}
.forget-password-section{
  background-color: #f3f5f9;
  height: 655px;
}
.forget-password-section .forget-password-form{
  background: #fff;
  padding: 2rem;
  color: #0F3D3E;
  border: 3px solid #fff;
  border-radius: 17px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.forget-password-section .forget-password-form i{
  text-align: center;
  font-size: 45px;
  display: block;
  margin-bottom: 2rem;
}
.forget-password-section .forget-password-form input{
  padding: 0.7rem;
}
.forget-password-section .forget-password-form h1{
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
.forget-password-section .forget-password-form p{
  text-align: center;
}
.forget-password-section .forget-password-form button{
  width: 100%;
  background-color: #0F3D3E;
  border: #0F3D3E;
  color: #fff;
  font-size: 21px;
  margin-top: 1rem;
}
.forget-password-section .forget-password-form button:hover{
  background-color: #fff;
  color: #0F3D3E;
  border: 1px solid #0F3D3E;
}
.forget-password-section .forget-password-form .back{
  margin-top: 2rem;
  font-weight: 600;
  color: red;
}