.select2-selection__choice{
    background-color: #1b2d1f !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    margin: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    margin-top: -8px;
}
.select2-container .select2-selection--single .select2-selection__clear{
    margin-top: -8px;
    color: red;
}
.alert.alert-danger{
    margin-top: 5px;
    padding: 3px 5px;
}