@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* .head {
    height: 90px;
    background-color: burlywood;
} */
.top-right {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: rgb(0, 0, 0);

}
video {
    width: 90%; /* Đặt chiều rộng của video là 100% của phần tử chứa nó */
    height: 80%; /* Chiều cao tự động điều chỉnh để duy trì tỷ lệ khung hình gốc */
    margin-left: 73px;
}

h1{
    margin: 50px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
  }
  article {
    display: flex;
    margin-left: 110px;
    margin-right: 110px
}

.khung {
    margin-top: 50px;
    margin-left: auto;
    width: 22.5%;
    height: 444px;
    /* border-radius: 10px; */
    padding: 10px;
    border: 1px solid gray;
    transition: transform 0.3s, box-shadow 0.3s;
}
.khung:hover{
    /* background-color: lightblue; */
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(130, 95, 25, 2);
}

.khung .hinh {
    width: 100%;
    height: 75%;

}

.hinh img {
    width: 100%;
    height: 85%;
    transition: 0.1s ease-in-out;

}

.hinh img:hover {
    transform: translateY(-3%);
    transition: 0.1s ease-in-out;
}

.thongtin {
    font-family: monospace;
    font-size: large;
}

.nutan input {
    /* border-radius: 5px; */
    outline: none;
    height: 30px;
    margin-left: 15px;
    border: 1px solid green;
    background-color: white;
    cursor: pointer;
}

.nutan input:hover {
    background-color: rgb(198, 167, 41);
    box-shadow: none;
    color: white;
    transition: .2s ease-in-out;
}

.danhmuc {
    width: 100%;
    height: 200px;
    text-align: center;
}

.danhmuc h1 {
    line-height: 200px;

}

aside {
    width: 100%;
}

.thucan {
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
}

.hot {
    padding-left: 60px;
    height: 10px;
    display: flex;
    font-size: larger;
}

.hot i {
    position: relative;
    bottom: 4px;
    margin-left: 10px;
    font-size: xx-large;
    color: red;
}
