/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

/* Container styles */
.login {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-top: 10px;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #385898;
}

button[type="submit"] {
    background-color: #f0aa3a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #9b6e07;
}


/* Responsive styles */
@media (max-width: 480px) {
  .login {
      max-width: 300px;
  }
}
/* Chọn tất cả các phần tử và thiết lập box-sizing và padding */
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Chọn form có lớp "login" và thiết lập căn giữa trang, màu nền, kích thước và viền */
form.login {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(229, 245, 240);
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}

/* Chọn tất cả các phần tử trong form và thiết lập chiều cao dòng và khoảng cách */
form.login * {
  line-height: 2;
  margin: 10px 0px;
}

/* Chọn thẻ label và thiết lập chiều rộng */
form.login label {
  width: 100px;
}

/* Chọn thẻ h2 trong form và căn giữa nội dung */
form.login h2 {
  text-align: center;
}

/* Chọn phần tử có lớp "form-button" và căn giữa nội dung */
form.login .form-button {
  text-align: center;
}

/* Thiết lập màu nền khi input đang được tập trung */
form.login input:focus {
  outline: none;
  background-color: azure;
}

/* Chọn phần tử có lớp "yeu-cau" và thiết lập màu sắc và kích thước phông chữ */
.yeu-cau {
  color: red;
  font-size: 0.9rem;
}

/* Thiết lập căn giữa cho table, kích thước và viền cho thẻ th và td */
table {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

th, td {
  border: 1px solid rgb(230, 220, 220);
  padding: 8px;
}

/* Thiết lập màu nền và màu chữ cho thẻ th */
th {
  background-color: rgb(230, 151, 33);
  color: white;
}

/* Thiết lập màu nền cho các hàng chẵn và lẻ trong table */
tr:nth-child(odd) {
  background-color: rgb(211, 224, 211);
}

tr:nth-child(even) {
  background-color: rgb(241, 241, 190);
}
